---
import BaseLayout from '../layouts/BaseLayout.astro';
import InfoTweet from '../components/InfoTweet.astro';
import Wrapper from '../components/Wrapper.astro';
---
<BaseLayout title={ 'Astro Quote Tweet Demo'} >
  <header>
    <h1>Astro Quote Tweet Demo</h1>
  </header>
  <Wrapper>
    <InfoTweet id="1520326747740286976" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1517377812298342400" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1516839224451887104" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1513668040784814084" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1513638143584518154" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1507136393679499310" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1502622181859237900" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1488575204968345602" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1484970825568505856" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1448034932647923713" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1446728068630994944" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1437429523893600256" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1432059344674332673" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1431935250020503552" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1411677706287255552" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1411672757956452355" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1394349097675628549" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1391257051582631940" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1385630850373459973" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1371494593028571139" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1370638614510538756" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1362977155290783746" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1350534191285493766" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1350441610681618439" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1350436286948122625" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1348719497050353664" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1330741869207142403" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1297914112538746880" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1279915107129200640" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1251208345895284737" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1244000657176215553" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1234955156904718336" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1229403843299020800" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1226618101137051650" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1226511611592085504" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1183782313081163776" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1146129898383302656" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1139134472002113536" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1089611138176860161" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1089611136666927106" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1088500539640418304" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1042120425415700480" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1038440732741259265" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1027633853442215939" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1006985630126100481" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="1006573540253093889" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="986895259471839232" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="958148384858300416" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="958141072122830848" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="922929748275113984" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="903266544544878592" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="890741830500982784" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="802569801906475008" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="736734979804278788" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="727278011591045122" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="711662152633995265" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="700810174072655873" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="652442934151938048" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="639438094723321856" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="620304534431207424" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="483625917491970048" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="274016979508137984" />
  </Wrapper>
  <Wrapper>
    <InfoTweet id="250733358307500032" />
  </Wrapper>
</BaseLayout>
