---
export type Props = {
  id: string;
};

const { id } = Astro.props as Props;
---
<div class="quote-tweet">
  <p class="quote-tweet__body">
    <a
      rel="noreferrer noopener"
      target="_blank"
      href={`https://twitter.com/twitter/status/${id}`}
    >
      Read relevant tweet
    </a>
  </p>
</div>
